<!-- https://chatgpt.com/share/67a508f0-ce28-8006-aea3-8585f1871adc -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Goals</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <h1>Jaroly's Travel Goals</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/destinations">Destinations</a></li>
                </ul>
            </nav>
        </div>
    </nav>
    <main>
        <h1 class="center"><%= name %></h1>
        <img src=<%= imageUrl %> class="countryPic">
        <p><%= description %></p>
        <p>With who: <%= withWho %></p>
    </main>
</body>
</html>
